/* Linked MarkScript and Source Sans Pro fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
} 


a.navbar-brand{
    text-shadow: 2px 2px 5px white;
    font-size: 100px;
    margin-bottom: 25px;
    background-color: #4169E1 !important;
}

nav.navbar {
	background-color: #4169E1 !important;			
}

.nav-link{
    font-size: x-large;
    text-shadow: 2px 2px 5px white;
    margin-left: 15px;
    margin-top: 15px;

}
            
.gallery img {
	height: 550px;
	width:100%;				
}

#text {
    margin-left: 25px;
    margin-right: 25px;
    color: white
}

.bodycolor {            
    background-color:#4169E1 !important;            
}
            
#bcolor {
    background-color: #4169E1 !important ;
    color: white;                    
}

#map {
    height: 100%;
}

#whosay {
    color: white;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 25px 50px 75px 100px;
  padding: 3%;
  color:white;
}

.footer-copyright {
    color: black;
    background-color: white;
    height: 45px;
}


.services_img{

    width: 100% !important;
    height: 200px;
}

.services_text{

    height: 150px;
    overflow-y: scroll;

}

.map_img{

    border-radius: 50px; 
    width: 300px !important;
    height: 200px;
}

.booking {
    margin-left: 10%;

}

.info {
    font-size: large;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 5px;
}