@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

a.navbar-brand{
    font-size: xxx-large;
    margin-bottom: 25px;
    background-color: #4169E1 !important;
}

nav.navbar {
	background-color: #4169E1 !important;			
}
            
.gallery img {
	height: 550px;
	width:100%;				
    }

.bodycolor {            
    background-color:#4169E1 !important;            
}
            
#bcolor {
    background-color: #4169E1 !important ;
    color: black;                    
}

#map {
    height: 100%;
}

#whosay {
    color: white;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 25px 50px 75px 100px;
  padding: 3%;
  color:black;
}

.footer-copyright {
    color: #fff;
    background-color: #000;
    height: 45px;
}


 