@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


 .social-networks,socialnetworks {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
 }